.Container{
    display: flex;
    justify-content: space-around;
    background-color: rgb(178, 178, 169);
    height: 60px;
    padding: 10px;
    text-align: center;
   
}
.menus{
    display: flex;
    list-style: none;
    gap: 20px;
    font-size: 22px;
}

*{
    margin: 0px;
    padding: 0px;
}
.middlepage{
    height: 100vh;
    background-image: url(background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    align-items: center;
    margin: auto;
    padding: auto;
    justify-content: center;
}
.primary{
    color: red;
}
.title{
    font-size: 50px;
    color: white;
}
.btn1{
    margin-top: 15px;
    background-color: orangered;
    border: none;
    padding: 17px;
    color: white;
    font-size: 16px;
}
.btn2{
    margin-top: 15px;
    border: none;
    padding: 17px;
    color: black;
    font-size: 16px;
}
.lorem{
    width: 50%;
}
.lorem{
    padding: 10px;
    color: white;
    margin: auto;
}

.thirdpage{
   
}
.btn3{
    background-color: white;
    border: none;
    border-radius: 30px;
    padding: 17px;
    font-size: 20px;
}
.para{
    width: 50%;
}
.pra{
    padding: 10px;
}

.ol{
    padding: 20px;
    list-style: none;
    margin-right: 0%;
}
.pic1{
    height: 70px;
    width: 70px;
    border-radius: 35px;
}
.picDetail{
    display: flex;
    align-items: center;
    gap: 5px;
}
.foot{
    display: flex;
    align-items: center;
    gap: 45px;
}

.bbtn4{
    padding: 17px 30px;
    border-radius: 30px;
    color: red;
}
.pic5{
    height: 100px;
    width: 100px;
}
.box{
    text-align: center;
    width:150px;
    height: 100px;
    padding: 50px;
    background-color: white;
    color: black;
    border-radius: 5px;
}
.mainthirdpage{
    display: flex;
    align-items: center;
    height: 100vh;
    background-image: url(footer-bg.png);
    background-color:black;
    padding: 40px;
    color: white;
}
.first-two-box{
    display: flex;
    gap: 5px;
    margin-top: 5px;
}